h3{
    font-size: 25px !important;
}
.btn-success:hover{
    background-color: red;
}

Canvas{
    animation-name: temple;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes  temple{
    from{box-shadow: 2px 2px 30px red};
    to{box-shadow:2px 2px 30px yellow};
}  